<% include ../partials/header.ejs%>
<div class="container">
    <div class="text-center">
        <h1> Edit the <%=campGround.name%></h1>
    </div>
    <div class="row justify-content-center">
         <form action="/campgrounds/<%=campGround._id%>?_method=PUT" method="POST">
            <div class="form-group">
                <input class="form-control" type="text" name="campGround[name]"  value="<%=campGround.name%>">
                <input class="form-control" type="text" name="campGround[image]"  value="<%=campGround.image%>">
                <input class="form-control" type="text" name="campGround[description]"  value="<%=campGround.description%>">
            </div>
            <div>
                <button class="btn btn-primary btn-block">Submit</button>
            </div>
            <a href="/campgrounds">go back</a>
        </form>
        
    </div>
</div>

<% include ../partials/footer.ejs %>